.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  background-color: var(--bg-color-mid);
  color: black;

  border-radius: 10px;
  padding: 1em;
  height: 500px;
  width: 600px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.login {
  height: 200px;
}

.modal form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 90%;
}

h3 {
  margin: 0;
  font-size: var(--heading-3);
}

.modal .signup-login {
  border: none;
  background-color: transparent;
  color: var(--link-color);
  text-decoration: underline;
}

.submit,
.submit .ticket-modal {
  background-color: var(--bg-color-dark);
  color: var(--color-mid-light);
  font-size: var(--text-large);
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

.submit .ticket-modal {
  text-decoration: none;
}

.delete {
  background-color: tomato;
  color: var(--color-dark);
}

label {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

label input[type='text'] {
  margin-right: 0;
  margin-left: auto;
}
